* {
  box-sizing: border-box;
}

body{
font-family: 'Roboto', sans-serif;

}
.container {
    width: 100%;
  
  }
  .full {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    background-color: rgb(237, 221, 200);
    border: 5px dotted black;
    position: sticky;
    top: 10px;
    
    
  }
  .right {
    width: 43%;
    height: 1200px;
    background-color: rgb(237, 221, 200);
    margin-left: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    float: right;
    text-align: left black;
    padding-left: 1px;
    box-shadow: 5px 10 px rgb(52, 52, 60);
    border: 2px;
    
    
  
  }
  .left {
    width: 55%;
    height: 500px;
    background-color: lightblue;
    margin-bottom: 2px;
    box-shadow: 5px 10px rgb(52, 52, 60);
    background-image: url("./img/cottage.png");
    background-size: 100%;
    text-align: left black;
    padding-left: 2px;
  
  }

  .center {
    width: 45%;
    height: 225px;
    background-color: lightblue;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 5px 10px rgb(52, 52, 60);
    background-size: 100%;
    text-align: left black;
    padding-left: 1px;
    padding-top: -5px;
    padding-bottom: 5px;
    image-resolution: 100%;
    image-resolution: 100%;
    border-image: round;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .newspaper {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
  }

  header {text-align: center;}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  } alternative method if you still want it labled as "email"*/ 



input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    

 

  